*{
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #f4f4f4; 
    color: black;
}
.container{
    min-width: 100%;
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 0.8rem; 
    flex-wrap: wrap;
    border: 1px solid;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.datas{
    min-width: 100%; 
    max-width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#balancer{
    box-sizing: border-box;
    padding-bottom: 5px;
    background-color: white; 
    border-left: 5px solid red;
    font-weight: 600;
}
.inputContainer{
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.inputContainer .demo{
    min-width: 90%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    box-sizing: border-box;
}

.inputContainer .sourceIncomeHeader{
    display: flex; 
    justify-content: center;
    align-items: center;
    border: 1px rgba(0, 0, 0, 0.21);
    min-width: 100%;
    box-sizing: border-box;
}

.sourceIncomeHeader ul{
    min-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    box-sizing: border-box;
    padding: 5px; 
    margin: 5px; 
}

.sourceIncomeHeader ul li{
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; 
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.demo{
    display: flex; 
    flex-wrap: wrap;
}

.ShowUserData{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 10px;
}



.ShowUserData .dataUser{
    width: 50%;
    padding: 2px;
    margin: 3px;
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
    align-items: center; 
    /* font-size: 1rem; */
    justify-content: space-evenly;
}

.ShowUserData button{
    width: 50%; 
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 5px;
    margin: 3px;

}

.ShowUserData button:active{
    background-color: rgb(68, 219, 68);
}
.secondInputContainer{
    width: 100%; 
    margin-top: 10px; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalText{
    width: 100%; 
    box-sizing: border-box;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3px; 
    position: sticky;
    top: 0; 
    background-color: green;
    color: white;
    font-weight: 600;
} 

.totalText ul{
    display: flex;
    list-style-type: none;
    width: 90%; 
    justify-content: center;
    align-items: center;
    margin: 3px;  
    font-weight: 600;
}

.totalText ul li{
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 5px; 
    margin: 3px;
    font-weight: 600;
}

.expenserContainer{
    width: 100%; 
    background-color: white;
    border-left: 5px solid red;
    box-sizing: border-box;
}

.expenser{
    width: 90%; 
    margin: auto;
    margin-top: 1px;
    box-sizing: border-box; 
}
.tableHeader{
    width: 100%; 
    box-sizing: border-box;
    padding: 5px; 
    top: 0px; 
    background-color: white;
}

.tableHeader ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%; 
    box-sizing: border-box;
    padding: 5px;
    margin: 2px; 
}

.tableHeader ul li{
    width: 50%;
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 3px; 
    margin: 2px; 
    font-size: 1.1rem;
    font-weight: bold;
    font-family: sans-serif;
}

.expenseshow{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.secondDiv{
    display: flex; 
    margin-top: 15px;
    width: 100%; 
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.379);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.274);
    margin-bottom: 15px;
    padding: 5px; 
    box-sizing: border-box;
}

.secondDiv .expenseValues{
    width: 50%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 1px; 
    margin: 1px; 
    font-weight: 600;
    padding: 5px; 
    margin: 2px;
    box-sizing: border-box;
}

.secondDiv #ptag3{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

#ptag3 .button1{
    width: 50%;
    height: 3vh; 
    padding: 2px;
    border-radius: 50px;
    box-sizing: border-box;
}

#ptag3 .button2{
    width: 50%; 
    height: 3vh;
    padding: 2px; 
    border-radius: 50px;
    box-sizing: border-box;
}

.popUpEdit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: whitesmoke;
    width: 100%; 
}

.popUpEdit .popUp{
    width: 80%; 
    border: 1px solid; 
    margin: auto; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    border-radius: 12px;
    justify-content: space-evenly; 
}

.popUp .sameDiv{
    min-width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100px;  
}

.sameDiv .inputElement{
    width: 90%;
    border-radius: 50px;
    padding: 20px; 
    box-sizing: border-box;
    font-size: 1.5rem;
    margin-top: 10px;
}

.popUp #sameDiv1{
    margin-top: 20px;
}

.Error{
    font-size: 1rem;
    margin-top: 1px;
}

.buttonDiv{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.saveButton{
    min-width: 40%;
    max-width: 40%;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px; 
    box-sizing: border-box;
    font-size: 1.3em;
    border-radius: 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.saveButton:active{
    background-color: rgb(15, 157, 15);
}

@media(min-width: 700px){
    .popUp{
        min-width: 40%;
        max-width: 40%;
        height: 350px; 
        border: 1px solid; 
        background-color: white;
        margin: auto; 
        display: flex; 
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
        border-radius: 12px;
        justify-content: space-evenly;
    }

    /* #ptag3 .button1{
        width: 30%;
    } */

    .sameDiv .inputElement{
        height: 5vh;
    }

}